<div class="tpbv" style="width:100%; min-height:40px">
<table class="dataTable topPagesByAction" style="width:100%; position:relative; table-layout: fixed;">
    <thead>
    <tr style="position:absolute;">
      <th class="sortable" style="width:25px"><div id="thDIV" class="thDIV" style="width:25px">&nbsp;</div></th>
      <th class="sortable" style="width:75px"><div id="thDIV" class="thDIV" style="width:75px">{{ 'TopPagesByActions_TableHeaderActions'|translate }}</div></th>
      <th class="sortable" style="width:100%"><div id="thDIV" class="thDIV" style="min-width:250px; width:auto">{{ 'TopPagesByActions_TableHeaderPage'|translate }}</div></th>
      <th class="sortable" style="width:105px"><div id="thDIV" class="thDIV" style="width:105px">{{ 'TopPagesByActions_TableHeaderEngagedTime'|translate }}</div></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    require('piwik/TopPagesByActions').initTopPagesByActionsWidget({{ refreshInterval }}, {{ numberOfEntries }});
  });
</script>
